/* reset */
body{
    width: 1000px;
    background-image: url(./Img/background.png);
    background-color: navy;
    height: 100%;
    background-repeat: no-repeat;
}
header{
    background-color: green;
    height: 200px;
}
main{

}
p{
    color: white;
    white-space: nowrap;
}
a{

}
footer{

}